{%load staticfiles%}
<!doctype html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="{%static "css/bootstrap12.min.css" %}">
        <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
        <link rel="stylesheet" href="{%static "css/templatemo-main0.css" %}">
        <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">







    <link rel="stylesheet" href="{%static "css/FAQpage.css"%}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300&display=swap" rel="stylesheet">

    <title>Zawadi Human Capital Partners</title>


  </head>

  <body>
    <nav style="background-color:#5E6B71;"class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container  ">
        <a class="navbar-brand " href ="#"
        ><img style="height:38px;width:29rem;position:fixed;
  	top:0;"src="{%static "images/banner_logo.png" %}" alt="">

       </a>
        <button style="color:black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color:black;" class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:mission' %}">Our Mission</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:resources' %}">Resources</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:FAQ' %}">FAQ</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:contact' %}">Contact Us</a>
            </li>
            <li class="nav-item">
              <a style="color:lightblue;"class="nav-link js-scroll-trigger" href="{% url 'second_app:login_url' %}">Log In</a>
            </li>
            <li>

            </li>

          </ul>
        </div>
      </div>
    </nav>



 <div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px"></h1>
    <h3></h3>

  </div>
</div>



       <div  class="villian">
         <!--<img class="villian"style="width:1250px;"src="{%static "images/faqwords1.jpeg" %}" alt=""> -->
         <div class="container">
           <div class="row ">
       <div style=""class="col-lg-12 col-12  ">
         <div class="col-lg-8 float-left">
           <img style=""class="float-left" src="{%static "images/heads1.png" %}" alt="">
          </div>
         </div>
         <div class="col-lg-10 col-12">
           <h1 style="color:darkorange;">1. How does a candidate apply with our organization? </h1>
            <p style="margin-left:30px;">The 1st step is to contact us and complete a basic application that will indicate intent.  Then a more in -depth recruitment process and checklist will be provided to be uploaded or email via secure portal.</p>
            <p></p>
            </div>
            <div class="col-lg-10 col-12">
              <h1 style="color:darkorange;">2. Basic criteria for a qualifying candidate?  </h1>
              <p style="margin-left:30px;" >
                Each candidate has to be pre-qualified by CGFNS for their academic and professional qualifications, 2) Each candidate will complete IELTS (English qualification), 3) Complete the NCLEX and pass
                Nursing board 4) Potential hold an international driver’s license.
              </p>
                <p></p>
                  </div>
               <div class="col-lg-10 col-12">
                 <h1 style="color:darkorange;">3. Can candidates include their immediate family (spouse/kids) in their immigration <br>application? </h1>
                 <p style="margin-left:30px;">Yes, when the 1-I40 checklist for the attorneys is completed the
                   candidate will include the eligible family members and provide qualifying information as needed</p>
                   <p></p>
                      </div>
                  <div class="col-lg-10 col-12">
                    <h1 style="color:darkorange;">4. Is the candidate able to select the location of Job placement?   </h1>
                    <p style="margin-left:30px;">In most cases we match the candidate with the client that matches their skills and needs.  There is an interview process that will happen to establish rapport between the parties once the application is completed. Our goal is to ensure that both the candidate and client are a match for a successful transition</p>
                            </div>
                     <div class="col-lg-10 col-12">
                       <h1 style="color:darkorange;">5. How long is the entire process from initial application to approval?  </h1>
                       <p style="margin-left:30px;">The process is very dependent on the immigration process and can take anywhere from 3 -9 months.  It is imperative that the candidate follows all the recruitment steps to ensure that the process moves as smoothly as possible.  Timely response to questions or additional information is key.
                       </p>
                            </div>
                        <div class="col-lg-10 col-12">
                          <h1 style="color:darkorange;">6. How long is the candidate contract with the client?   </h1>
                          <p style="margin-left:30px;">The candidate/client contract is 3 years long. After the 3 years the candidate is no longer bound by the contract but can continue to work with their client.  </p>
                                </div>
                           <div class="col-lg-10 col-12">
                             <h1 style="color:darkorange;">7. What happens if the candidate breaks their 3-year contract? </h1>
                            <p style="margin-left:30px;">If a candidate breaches their 3-year client contract, they are
                              obligated to pay the prorated fee covered by the employer on hire to time of exit. After the 3-year contract expires there is not fee pay-back clause</p>
                                </div>
                              <div class="col-lg-10 col-12">
                                <h1 style="color:darkorange;">8. Can a candidate request a transfer from client to another client? </h1>
                                <p style="margin-left:30px;">In some cases, the candidate can request transfer to another
                                  un-related client, but they will still owe the original client the
                                  recruitment fee prorated for the time worked. If it is to a related client (another location) then that will be an agreement between client /candidate based on needs within the client organization</p>
                                   </div>
                                 <div class="col-lg-10 col-12">
                                   <h1 style="color:darkorange;"> 9. Why do we recommend that candidates hold an international
                                     drivers license/permit?   </h1>
                                     <p style="margin-left:30px;">We want to encourage independence with our candidate as they transition to the new country and we want to be able to provide a way for a means of transportation back and forth from client work location to home etc.  It is not a mandatory requirement but a
                                       recommendation.</p>
                                    </div>
                                    <div class="col-lg-10 col-12">
                                      <h1 style="color:darkorange;">10. How do candidates secure housing /travel etc to the new country?  </h1>
                                      <p style="margin-left:30px;">Our organization will handle the travel, housing etc requirement for the candidate based on their needs and the location of the client.  We strive to ensure that the candidate’s residence is as close to the client workplace as possible.</p>
                                       </div>

           </div>
         </div>

     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="{%static "javascript/jquery.min.js"%}"></script>
     <script src="{%static "javascript/bootstrap.bundle.min.js"%}"></script>
    <!--url("https://source.unsplash.com/nfquAxPsU7Y/800x800") no-repeat center center fixed;-->
    <!-- Optional JavaScript url('https://source.unsplash.com/random/800x800') no-repeat center center fixed  ,,  hannahs orange: #d94b09-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->




  </body>
</html>
