{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zawadi Human Capital Partners</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">






        <link rel="stylesheet" href="{%static "css/bootstrap12.min.css" %}">
        <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
        <link rel="stylesheet" href="{%static "css/templatemo-main0.css" %}">
        <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">


        <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
        <script src="{%static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton|Viga&display=swap" rel="stylesheet">
    </head>

<body style="background:white;">

  <nav style="background-color:#5E6B71;"class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container  ">
      <a class="navbar-brand col-3" href ="#"
      ><img style="height:38px;width:29rem;position:fixed;
	top:0;"src="{%static "images/banner_logo.png" %}" alt="">

     </a>
      <button style="color:black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color:black;" class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:mission' %}">Our Mission</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:resources' %}">Resources</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:FAQ' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a style="color:lightblue;"class="nav-link js-scroll-trigger" href="{% url 'second_app:login_url' %}">Log In</a>
          </li>
          <li>

          </li>

        </ul>
      </div>
    </div>
  </nav>



              <div style="overflow: hidden"class="parallax-content baner-content col-lg-12 col-12 col-md-12" id="home">
            <div class="first-content" id="services">
              <div class="container-fluid text-right col-md-2 col-sm-2 mx-auto" >
                </div>



                <div class="container-fluid" style="margin-top:20rem;">





    <div class="row">
        <div class="col-md-12 col-lg-12 top col-sm-12 col">
          <h1  class="slide-in-top top"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our People</h1>

        </div>
    </div>
  </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 top col-sm-12 col">
          <h1  class="slide-in-topa "style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our Communities</h1>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 top col-sm-12 col">
          <h1  class="slide-in-topb"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Connected By Service</h1>

        </div>
    </div>
</div>

</div>
  <div style="height:10rem;"class="">
    <p></p>
  </div>



                <span><em></em> </span>

                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4></h4>
                        <div class=""></div>
                        <p>


                        </ul>
                        <div class="">
                            <a href="#portfolio"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8"style="height:auto;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Recruitment Process</h4>
                                <p></p>
                                <p>Click below to find out about our programs benefits and qualifications</p>
                                <a href="{% url 'second_app:resources' %}"><img src="{%static "images/book1.png"%}" style="width:60px; height:60px" title="Recruitment" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Client Resources</h4>
                                <p></p>
                                <p>Find out how Zawadi is creating solutions for the rising healthcare demand.</p>
                                <a href="{% url 'second_app:resources' %}"><img src="{%static "images/target1.png" %}" style="width:60px; height:60px" title="Resources" alt="Flower"></a>

                                <p></p>
                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Our Mission</h4>
                                <p></p>
                                <p>We are committed to contributing to the communities in which we serve and grow. </p>
                                <a href="{% url 'second_app:mission' %}"><img src="{%static "images/globe1.png" %}" style="width:55px; height:50px" title="Mission" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Contact Us</h4>
                                <p></p>
                                <p style="margin-bottom:30px;" >Click below to contact us </p>
                                <a href="{% url 'second_app:contact' %}"><img src="{%static "images/smartphone.png" %}" style="width:55px; height:50px" title="Contact" alt="Flower"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container-fluid">
            <div class="row ">
              <div class="col-md-8">

              </div>

                <div class="col-md-4">
                  <div class="col-sm-1">

                  </div>
          <div class="jumbotron text-center col-md-10 col-sm-10" style="position:relative;background-color:grey;color:white;width:30rem;margin-left:;top:-7rem;">
            <h1>FAQ</h1>
            <p>Want to find out more about the recruitment process and how we select candidates?</p>
            <a href="{% url 'second_app:FAQ' %}"><img src="{%static "images/mg.png" %}" style="width:45px; height:45px" title="FAQ" alt="Flower"></a>
            <div class="col-sm-1">

            </div>
          </div>

          <div class="jumbotron text-center " style="position:relative;background-color:grey;color:white;width:30rem;margin-left:;top:-1rem;">
            <h1>Connect With Us</h1>
            <p>Click here to follow us on Facebook and Instagram</p>
            <a href="https://www.facebook.com/zawadi.humancapital.5"><img src="{%static "images/fb.png"%}" style="width:60px; height:60px" title="Connect" alt="Flower"></a>
            <a href="https://www.instagram.com/zawadihumancapitalpartners/"><img src="{%static "images/inst.png"%}" style="width:60px;height:60px;margin-left:20px;"alt="">  </a>
          </div>




          </div>
          </div>








                                </div>
                            </div>
                        </div>





                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>


                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!--  <div class="tabs-content" style="padding:0px;margin:0px;"id="our-story">
        <div class="container-fluid">
            <div style="height:30rem;"class="row">
                <div class="col-md-12 col-12 col-md-12 mx-auto">

                      <div class="col-lg-12 col-md-9 col-12 ">
                        <img src="static/images/info_white1.jpeg" alt="">
                      </div>






                    </section>

                    </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <section style="background:white;"class="service-area area-padding ">
            <div class="container">
                <div style="border-bottom: solid 1px black;"class="row">
                    <!-- Single service -->
                    <div class="col-lg-12 col-md-9 col-12 ">
                      <img src="{% static "images/info_white1.jpeg" %}" alt="">
                    </div>

                    <div class="col-md-6 col-lg-4">


                            <div style="height:40rem;"class="">
                                <h1 style="border-bottom:1px solid black;border-top:1px solid black;"class="text-center"> <strong>100,000,000 <br>Retired Nurses</strong></h1>
                                                        <p></p>
                                <p >According to Dr. Peter Buerhaus’s 2017 report in the Journal of Nursing regulation,
      he and his colleagues predict 100 million RN’S will retire. This will leave a huge
      void in patient care settings & other organizations that depend on the knowledge
      and presence of experienced RN’S.</p>  <a class="turner"href="#">Read More</a>
                                  </div>

                    </div>

                    <!-- Single service -->
                    <div class="col-md-6 col-lg-4">


                            <div style="height:40rem;" class="">
                                <h1 style="border-bottom:1px solid black;border-top:1px solid black;" class="text-center"><strong>75,000 students <br>turned away</strong></h1>
                                <p></p>
                                <p>According to AACN’s report on 2018-2019 Enrollment and Graduations in
                                  Baccalaureate Programs in Nursing, U.S nursing schools turned away more
                                  than 75,000 qualified  applicants from baccalaureate and graduate nursing
                                  programs in 2018 due to insufficient number of faculty, clinical sites,
                                  classroom space, and clinical preceptors, as well as budget constraints.</p>
                                  <a href="#">Read More</a>
                            </div>

                    </div>


                    <!-- Single service -->
                    <div class="col-md-6 col-lg-4">

                            <div style="height:40rem;"class="">
                                <h1 style="border-bottom:1px solid black;border-top:1px solid black;" class="text-center"> <strong>80% <br>baccalaureate</strong></h1>
                              <p></p>
                                <p>In October of 2010, the Institute of Medicine released its landmark report on
                                  “The Future Nursing,” initiated by the Robert Wood Johnson Foundation,
                                  which called for increasing the number of baccalaureate-prepared nurses in the
                                  workforce to 80% and doubling the amount of nurses with doctoral degrees.
                                  The current nursing workforce falls far short of these recommendations with
                                  only 56% RN’s prepared at the baccalaureate or graduate level.</p>        <a href="#">Read More</a>
                            </div>

                    </div>

                </div>
            </div>
        </section>
    </div>






                    </div>
                </div>
            </div>
        </div>
    </div>


<!--     <footer style="background-color:white;padding:0px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">

                      <img style="height:30rem;width:170rem;"src="{% static "images/contact2.jpeg" %}" alt="">



                  </div>
              </div>
          </div>
      </footer>  -->
      <div style="background:white;"class="container">
        <div class="row">
        <!--  <div class="col-lg-10 col-12 col-md-10">
            <img src="{%static "images/yamon2.png" %}" alt="">
            <p></p>
            <p></p>



          </div>   -->
        </div>
      </div>

      <footer id="footer" class="section-bg">
        <div class="footer-top">
          <div class="container">

            <div class="row">

              <div class="col-lg-6">

                <div class="row">

                    <div class="col-sm-6">

                      <div class="footer-info">
                        <p></p>
                        <p>Thank you for visiting Zawadi Human Capital Partners. If you have any questions or inquiries, please feel free to leave us a message or migrate to the contact us page to submit your application. We look forward to hearing from you.</p>
                        </div>

                      <div class="footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>If you would like to stay up to date with us, please submit your email below. We will keep you up to date with latest Zahu news.</p>
                        <p></p>
                        <form action="" method="post">
                          <input type="email" name="email"><input type="submit"  value="Subscribe">
                        </form>
                      </div>

                    </div>

                    <div class="col-sm-6">
                   <div class="footer-links">
                      <!--  <h4>Useful Links</h4> -->
                        <ul >
                    <!--      <li><a href="#">Home</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Terms of service</a></li>
                          <li><a href="#">Privacy policy</a></li>  -->
                        </ul>

                      </div> -->
                      <p></p>
                      <div style="position:relative;bottom:-1rem;"class="footer-links">
                        <p></p>
                        <h4 style="color:white;">Contact Us</h4>
                        <p>
                          4009 Hillsboro Pike, Suite 211 <br>
                          Nashville,TN 37215<br>
                          United States <br>
                    <!--      <strong>Phone:</strong> +1 5589 55488 55<br> -->
                          <strong>Email:</strong> info@zahu.com<br>
                        </p>
                      </div>
                      <p></p>
                      <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                      </div>

                    </div>

                </div>

              </div>

              <div class="col-lg-6">

                <div class="form">

                  <h4>Send us a message</h4>
                  <p>Please submit your contact information and a member of the Zahu administration team will reach out to you. Thank you for visiting us online.</p>
                  <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                      <div class="validation"></div>
                    </div>

                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>

                    <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                  </form>
                </div>

              </div>



            </div>

          </div>
        </div>

        <div class="container">
      <!--    <div class="copyright">
            &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
          </div>   -->
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid

            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
          </div>
        </div>
      </footer><!-- #footer -->






                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{%static "javascript/jquery.min.js"%}"></script>
    <script src="{%static "javascript/bootstrap.bundle.min.js"%}"></script>




    <!-- Plugin JavaScript -->


    <!-- Custom JavaScript for this theme -->










    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>
<script>

$(window).scroll(function(){
    $(".top").css("opacity", 1 - $(window).scrollTop() / 450);
  });

</script>
<script>



    var top_header = $('.parallax-content');
    top_header.css({'background-position':'center center'}); // better use CSS

    $(window).scroll(function () {
    var st = $(this).scrollTop();
    top_header.css({'background-position':'center calc(50% + '+(st*.5)+'px)'});
    });

    $('body').scrollspy({
        target: 'background-position',
        offset: 200
    });

</script>

</body>
</html>
