{%load staticfiles%}
<!doctype html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{%static "css/bootstrap12.min.css" %}">
    <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
    <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
    <link rel="stylesheet" href="{%static "css/templatemo-main0.css" %}">
    <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">


    <link rel="stylesheet" href="{%static "css/our_mission.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300&display=swap" rel="stylesheet">
        <title>Zawadi Human Capital Partners</title>


  </head>

  <body>
    <nav style="background-color:#5E6B71;"class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container  ">
        <a class="navbar-brand " href ="#"
        ><img id="hello" style=""src="{%static "images/banner_logo.png" %}" alt="">

       </a>
        <button style="color:black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span style="color:black;" class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:mission' %}">Our Mission</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:resources' %}">Resources</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:FAQ' %}">FAQ</a>
            </li>
            <li class="nav-item">
              <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:contact' %}">Contact Us</a>
            </li>
            <li class="nav-item">
              <a style="color:lightblue;"class="nav-link js-scroll-trigger" href="{% url 'second_app:login_url' %}">Log In</a>
            </li>
            <li>

            </li>

          </ul>
        </div>
      </div>
    </nav>



 <div class="hero-image col-lg-12 col-12">
  <div class="hero-text">
    <h1 style="font-size:50px"></h1>
    <h3></h3>

  </div>
</div>



       <div  class="villian col-lg-12 col-12">
         <img class="villian col-lg-12 col-12"style="width:cover;"src="{%static "images/ourmission2.jpeg"%}" alt="">
       <p></p>
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="{%static "javascript/jquery.min.js"%}"></script>
     <script src="{%static "javascript/bootstrap.bundle.min.js"%}"></script>
    <!--url("https://source.unsplash.com/nfquAxPsU7Y/800x800") no-repeat center center fixed;-->
    <!-- Optional JavaScript url('https://source.unsplash.com/random/800x800') no-repeat center center fixed  ,,  hannahs orange: #d94b09-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->




  </body>
</html>
