<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zawadi Human Capital Partners</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
        <link rel="stylesheet" href="{%static "css/templatemo-main.css" %}">
        <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton|Viga&display=swap" rel="stylesheet">
    </head>

<body>

  <nav id="navone" class="navbar fixed-top navbar-expand-md  " style=" height:3.33rem;background-color:rgb(0,0,0,0.35);
}">
 <div class= "container">
   <a class="navbar-brand " href ="#"
   ><img style="height:30px;width:23rem;"src="/Users/willcofer/Desktop/somename/projexx2/static/images/banner_logo.png" alt="">

 </a>
   <a class="navbar-brand" href="#">
    <div style="margin-bottom:25px;"class="logo-image" style="height:50px;">
            </div>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="btn btn-outline-secondary">_</span>
       </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto ">
       <li class="nav-item active" style="">
         <a class="nav-link text-light" href="#">
               <span class="sr-only">(current)</span>
             </a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-light" href="{% url 'second_app:index' %}">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-dark" href="">Our Mission</a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-dark" href="% url 'second_app:Resources' %}">Resources</a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-dark" href="% url 'second_app:FAQ' %}">FAQ</a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-dark" href="{% url 'second_app:contact' %}">Contact Us</a>
       </li>
       <li class="nav-item">
         <a style="color:white;"class="nav-link" href="#">Log in</a>
       </li>
     </ul>
   </div>
 </div>
</nav>



    <div class="parallax-content baner-content" id="home">
        <div class="container" style="padding-top:0.5px;margin-top:0.5px;">
          <img class="top"id="hay1"style="position: absolute;
          left: 2rem;
          top: 3rem;height:21rem;width:56rem;padding:0px;margin-top:0.5px;"src="/Users/willcofer/Desktop/somename/projexx2/static/images/giftafrica.gif" alt="nope">
          <div class="container">


            <div class="first-content" id="services">
              <div class="container-fluid text-right col-md-3 col-sm-3 mx-auto" >
                </div>
                <div class="container-fluid" style="margin-top:20rem;">
                  </div>
    <div class="row">
        <div class="col-lg-12 col-sm-3 top">
          <h1  class="slide-in-top top"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our People</h1>

        </div>
    </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-3 top">
          <h1  class="slide-in-topa "style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our Communities</h1>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-3 top">
          <h1  class="slide-in-topb"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Connected By Service</h1>

        </div>
    </div>
</div>

</div>




                <span><em></em> </span>

                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4></h4>
                        <div class=""></div>
                        <p>


                        </ul>
                        <div class="">
                            <a href="#portfolio"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Recruitment Process</h4>
                                <p></p>
                                <p>Click below to find out about our programs benefits and qualifications</p>
                                <a href="{% url 'second_app:Resources' %}"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/book1.png" style="width:60px; height:60px" title="Recruitment" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Client Resources</h4>
                                <p></p>
                                <p>Find out how Zawadi is creating solutions for the rising healthcare demand.</p>
                                <a href="{% url 'second_app:Resources' %}"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/target1.png" style="width:60px; height:60px" title="Resources" alt="Flower"></a>

                                <p></p>
                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Our Mission</h4>
                                <p></p>
                                <p>We are committed to contributing to the communities in which we serve and grow. </p>
                                <a href="{% url 'second_app:Mission' %}"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/globe1.png" style="width:55px; height:50px" title="Mission" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Contact Us</h4>
                                <p></p>
                                <p style="margin-bottom:30px;" >Click below to contact us </p>
                                <a href="{% url 'second_app:contact' %}"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/phone1.png" style="width:55px; height:50px" title="Contact" alt="Flower"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container-fluid">
            <div class="row ">


          <div class="jumbotron text-center" style="position:relative;background-color:rgba(255,255,255,0.35);color:white;width:30rem;margin-left:90rem;top:-7rem;">
            <h1>FAQ</h1>
            <p>Want to find out more about the recruitment process and how we select candidates?</p>
            <a href="{% url 'second_app:FAQ' %}"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/mg.png" style="width:45px; height:45px" title="FAQ" alt="Flower"></a>

          </div>

          <div class="jumbotron text-center " style="position:relative;background-color:rgba(255,255,255,0.35);color:white;width:30rem;margin-left:90rem;top:-1rem;">
            <h1>Connect With Us</h1>
            <p>Click here to follow us on Facebook</p>
            <a href="https://www.google.com"><img src="/Users/willcofer/Desktop/somename/projexx2/static/images/fb.png" style="width:60px; height:60px" title="Connect" alt="Flower"></a>

          </div>




          </div>









                                </div>
                            </div>
                        </div>





                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>


                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="wrapper">
                      <img style="height:60rem;"src="/Users/willcofer/Desktop/somename/projexx2/static/images/infostats2.jpeg" alt="">



                      </div>
                      <div id="tab2">
                        <img src="" alt="">
                        <p></p>
                      </div>
                      <div id="tab3">
                        <img src="" alt="">
                        <p></p>
                      </div>
                      <div id="tab4">
                        <img src="" alt="">
                        <p></p>
                      </div>
                    </section>

                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






                    </div>
                </div>
            </div>
        </div>
    </div>


      <footer style="background-color:white;">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">

                      <img style="height:30rem;width:160rem;"src="/Users/willcofer/Desktop/somename/projexx2/static/images/contact2.jpeg" alt="">


                   <a rel="nofollow noopener" href="https://templatemo.com"><em></em></a></p>
                  </div>
              </div>
          </div>
      </footer>








                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

</body>
</html>
