{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Resources</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
        <link rel="stylesheet" href="{%static "css/templatemo-main9.css" %}">
        <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">



        <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton|Viga&display=swap" rel="stylesheet">





        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
  <nav style="background-color:#5E6B71;"class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container  ">
      <a class="navbar-brand " href ="#"
      ><img style="height:38px;width:29rem;position:fixed;
  top:0;"src="{%static "images/banner_logo.png" %}" alt="">

     </a>
      <button style="color:black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color:black;" class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:mission' %}">Our Mission</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:resources' %}">Resources</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:FAQ' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a style="color:lightblue;"class="nav-link js-scroll-trigger" href="{% url 'second_app:login_url' %}">Log In</a>
          </li>
          <li>

          </li>

        </ul>
      </div>
    </div>
  </nav>

    <div class="fixed-side-navbar">

        </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1></h1>
                <span><em></em> </span>
                <div class="">
                    <a href="#services"></a>
                </div>
            </div>
        </div>
    </div>


    <div style="padding-top:10px;padding-left:5px;padding-right:5px;"class="service-content" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="https://www.cgfns.org/"><img src="{% static "images/green_1.jpg" %}" alt=""></a>
          </div>
          <div class="col-sm-4">
          <a href="https://www.dmv.org/"> <img src="{% static "images/green_2.jpg" %}" alt=""> </a>

          </div>
          <div class="col-sm-4">
          <a href="https://www.nclex.com/?gclid=Cj0KCQiAt_PuBRDcARIsAMNlBdqz3hvA8DqzJgsjGhk10oRc1c8dumoTR-hKo06MmIshMdMfvM95ym8aAkQ_EALw_wcB">  <img src="{% static "images/green_3.jpg" %}" alt=""> </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="#"> <img src="{% static "images/green_4.jpg" %}" alt="">  </a>
          </div>
          <div class="col-sm-4">
            <p></p>
        <a href="https://www.ielts.org/">  <img src="{% static "images/green_5.jpg" %}" alt="">  </a>
          </div>
          <div class="col-sm-4">
          <a href="http://www.acenursing.us/accreditedprograms/programSearch.htm">  <img src="{% static "images/green_6.jpg" %}" alt="">  </a>
          </div>
        </div>
      </div>





    <!--    <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="mx-auto">
                        <h4></h4>
                        <div class=""></div>
                        <img id="Image-Maps-Com-image-maps-2019-09-17-213000" src="https://www.image-maps.com/m/private/0/181salipekuensk0fpng6dm66o_checklistgraphic.jpg" border="0" width="1300" height="710" orgWidth="1424" orgHeight="600" usemap="#image-maps-2019-09-17-213000" alt="" />
<map name="image-maps-2019-09-17-213000" id="ImageMapsCom-image-maps-2019-09-17-213000">
<area  alt="" title="" href="https://www.ielts.org/" shape="rect" coords="407,156,630,409" style="outline:none;" target="_self"     />
<area  alt="" title="" href="https://www.nclex.com/" shape="rect" coords="41,156,264,409" style="outline:none;" target="_self"     />
<area  alt="" title="" href="https://www.cgfns.org/" shape="rect" coords="797,425,1005,630" style="outline:none;" target="_self"     />
<area shape="rect" coords="1022,628,1024,630" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map>




                        <div class="">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <h4></h4>
                                <div class=""></div>
                                  </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4></h4>
                                <div class=""></div>
                                  </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4></h4>
                                <div class=""></div>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4></h4>
                                <div class=""></div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div id="" class="">
                        <div class="">



                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top:10px;padding-left:5px;padding-right:5px;background:white;"class="" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <img src="{% static "images/c1.png" %}" alt="">
          </div>
          <div class="col-sm-4">
            <p></p>
            <img src="{%static "images/c2.png" %}" alt="">
          </div>
          <div class="col-sm-4">
            <img src="{%static "images/c3.png" %}" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
              <img src="{%static "images/c4.png" %}" alt="">
          </div>
          <div class="col-sm-4">
            <p></p>
            <img style="" src="{% static "images/missed.png" %}" alt="">
          </div>
          <div class="col-sm-4">
            <img src="{%static "images/c6.png" %}" alt="">
          </div>
        </div>
      </div>

  <!--  <div class="tabs-content" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="">
                    <img style="padding-bottom:15px;padding-top:0px;height:90%;width:90%;"src="{%static "images/clientre5.jpeg" %}" alt="">
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="parallax-content contact-content" id="contact-us"style="padding:15px;background:white;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 mx-auto">
                    <div class="">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                      <img src="{%static "images/sarah.jpeg" %}" alt="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer id="footer" class="section-bg bg-dark">
      <div class="footer-top">
        <div class="container">

          <div class="row">

            <div class="col-lg-6">

              <div class="row">

                  <div class="col-sm-6">

                    <div class="footer-info">
                      <p></p>
                      <p>Thank you for visiting Zawadi Human Capital Partners. If you have any questions or inquiries, please feel free to leave us a message or migrate to the contact us page to submit your application. We look forward to hearing from you.</p>
                      </div>

                    <div class="footer-newsletter">
                      <h4>Our Newsletter</h4>
                      <p>If you would like to stay up to date with us, please submit your email below. We will keep you up to date with latest Zahu news.</p>
                      <p></p>
                      <form action="" method="post">
                        <input type="email" name="email"><input type="submit"  value="Subscribe">
                      </form>
                    </div>

                  </div>

                  <div class="col-sm-6">
                 <div class="footer-links">
                    <!--  <h4>Useful Links</h4> -->
                      <ul >
                  <!--      <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>  -->
                      </ul>

                    </div> -->
                    <p></p>
                    <div style="position:relative;bottom:-1rem;"class="footer-links">
                      <p></p>
                      <h4 style="color:white;">Contact Us</h4>
                      <p>
                        4009 Hillsboro Pike, Suite 211 <br>
                        Nashville,TN 37215<br>
                        United States <br>
                  <!--      <strong>Phone:</strong> +1 5589 55488 55<br> -->
                        <strong>Email:</strong> info@zahu.com<br>
                      </p>
                    </div>
                    <p></p>
                    <div class="social-links">
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                  </div>

              </div>

            </div>

            <div class="col-lg-6">

              <div class="form">

                <h4>Send us a message</h4>
                <p>Please submit your contact information and a member of the Zahu administration team will reach out to you. Thank you for visiting us online.</p>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>

                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage"></div>

                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>

            </div>



          </div>

        </div>
      </div>

      <div class="container">
    <!--    <div class="copyright">
          &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
        </div>   -->
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid

          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
    </footer><!-- #footer -->

  <!--  <footer style="background:#B2B2B2;padding:0px;">
        <div  style="background:#B2B2B2;padding:0px;" class="container">

            <div style="background:#B2B2B2;padding:0px;" class="row">
                <div class="col-md-12 col-lg-12">
                <img style="width:250rem;height:32rem;border-width:3px;border-color:white;"src="{%static "images/partnership.jpeg"%}" alt="">


                    <ul>





                </div>
            </div>
        </div>
    </footer> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{%static "javascript/jquery.min.js"%}"></script>
    <script src="{%static "javascript/bootstrap.bundle.min.js"%}"></script>


    <script src="{%static "javascript/vendor/bootstrap.min.js" %}"></script>
    <script src="{%static "javascript/plugins.js"%}"></script>
    <script src="{%static "javascript/main.js"%} "></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

<script>
var top_header = $('.parallax-content');
top_header.css({'background-position':'center center'}); // better use CSS

$(window).scroll(function () {
var st = $(this).scrollTop();
top_header.css({'background-position':'center calc(50% + '+(st*.5)+'px)'});
});
</script>


</body>
</html>
