{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Zawadi Human Capital Partners</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">






        <link rel="stylesheet" href="{%static "css/bootstrap12.min.css" %}">
        <link rel="stylesheet" href="{%static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{%static "css/hero-slider.css" %}">
        <link rel="stylesheet" href="{%static "css/templatemo-main0.css" %}">
        <link rel="stylesheet" href="{%static "css/owl-carousel.css" %}">


        <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
        <script src="{%static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bahianita|Monoton|Viga&display=swap" rel="stylesheet">
    </head>

<body>

  <nav style="background-color:#5E6B71;"class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container  ">
      <a class="navbar-brand " href ="#"
      ><img style="height:38px;width:29rem;position:fixed;
	top:0;"src="{%static "images/banner_logo.png" %}" alt="">

     </a>
      <button style="color:black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span style="color:black;" class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:mission' %}">Our Mission</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:resources' %}">Resources</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:FAQ' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a style="color:black;"class="nav-link js-scroll-trigger" href="{% url 'second_app:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a style="color:lightblue;"class="nav-link js-scroll-trigger" href="{% url 'second_app:login_url' %}">Log In</a>
          </li>
          <li>

          </li>

        </ul>
      </div>
    </div>
  </nav>



              <div style="overflow: hidden"class="parallax-content baner-content" id="home">
            <div class="first-content" id="services">
              <div class="container-fluid text-right col-md-2 col-sm-2 mx-auto" >
                </div>
                <div class="container-fluid" style="margin-top:20rem;">


                </div>


    <div class="row">
        <div class="col-md-6 col-lg-12 top col-3 ">
          <h1  class="slide-in-top top"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our People</h1>

        </div>
    </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-12 top col-3 ">
          <h1  class="slide-in-topa "style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Our Communities</h1>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-12 top col-sm-3">
          <h1  class="slide-in-topb"style="font-size:50px;font-family: 'Montserrat', sans-serif;color:#f6f6f0;">Connected By Service</h1>

        </div>
    </div>
</div>

</div>
  <div style="height:10rem;"class="">
    <p></p>
  </div>



                <span><em></em> </span>

                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4></h4>
                        <div class=""></div>
                        <p>


                        </ul>
                        <div class="">
                            <a href="#portfolio"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8"style="height:auto;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Recruitment Process</h4>
                                <p></p>
                                <p>Click below to find out about our programs benefits and qualifications</p>
                                <a href="{% url 'second_app:resources' %}"><img src="{%static "images/book1.png"%}" style="width:60px; height:60px" title="Recruitment" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Client Resources</h4>
                                <p></p>
                                <p>Find out how Zawadi is creating solutions for the rising healthcare demand.</p>
                                <a href="{% url 'second_app:resources' %}"><img src="{%static "images/target1.png" %}" style="width:60px; height:60px" title="Resources" alt="Flower"></a>

                                <p></p>
                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Our Mission</h4>
                                <p></p>
                                <p>We are committed to contributing to the communities in which we serve and grow. </p>
                                <a href="{% url 'second_app:mission' %}"><img src="{%static "images/globe1.png" %}" style="width:55px; height:50px" title="Mission" alt="Flower"></a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4 style="color:black;font-size:28px;">Contact Us</h4>
                                <p></p>
                                <p style="margin-bottom:30px;" >Click below to contact us </p>
                                <a href="{% url 'second_app:contact' %}"><img src="{%static "images/smartphone.png" %}" style="width:55px; height:50px" title="Contact" alt="Flower"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container-fluid">
            <div class="row ">
              <div class="col-md-8">

              </div>

                <div class="col-md-4">
                  <div class="col-sm-1">

                  </div>
          <div class="jumbotron text-center col-md-10 col-sm-10" style="position:relative;background-color:grey;color:white;width:30rem;margin-left:;top:-7rem;">
            <h1>FAQ</h1>
            <p>Want to find out more about the recruitment process and how we select candidates?</p>
            <a href="{% url 'second_app:FAQ' %}"><img src="{%static "images/mg.png" %}" style="width:45px; height:45px" title="FAQ" alt="Flower"></a>
            <div class="col-sm-1">

            </div>
          </div>

          <div class="jumbotron text-center " style="position:relative;background-color:grey;color:white;width:30rem;margin-left:;top:-1rem;">
            <h1>Connect With Us</h1>
            <p>Click here to follow us on Facebook</p>
            <a href="https://www.facebook.com/zawadi.humancapital.5"><img src="{%static "images/fb.png"%}" style="width:60px; height:60px" title="Connect" alt="Flower"></a>

          </div>




          </div>
          </div>








                                </div>
                            </div>
                        </div>





                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>


                                    <h4></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>



                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="wrapper">
                      <img style="height:60rem;width:100%"src="{%static "images/infostats3.jpeg" %}" alt="">



                      </div>
                      <div id="tab2">
                        <img src="" alt="">
                        <p></p>
                      </div>
                      <div id="tab3">
                        <img src="" alt="">
                        <p></p>
                      </div>
                      <div id="tab4">
                        <img src="" alt="">
                        <p></p>
                      </div>
                    </section>

                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






                    </div>
                </div>
            </div>
        </div>
    </div>


      <footer style="background-color:white;padding:0px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">

                      <img style="height:30rem;width:170rem;"src="{% static "images/contact2.jpeg" %}" alt="">



                  </div>
              </div>
          </div>
      </footer>








                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{%static "javascript/jquery.min.js"%}"></script>
    <script src="{%static "javascript/bootstrap.bundle.min.js"%}"></script>




    <!-- Plugin JavaScript -->


    <!-- Custom JavaScript for this theme -->










    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>
<script>

$(window).scroll(function(){
    $(".top").css("opacity", 1 - $(window).scrollTop() / 450);
  });

</script>
<script>



    var top_header = $('.parallax-content');
    top_header.css({'background-position':'center center'}); // better use CSS

    $(window).scroll(function () {
    var st = $(this).scrollTop();
    top_header.css({'background-position':'center calc(50% + '+(st*.5)+'px)'});
    });

    $('body').scrollspy({
        target: 'background-position',
        offset: 200
    });

</script>

</body>
</html>
